@using Dibware.Template.Presentation.Web.Resources
@using Dibware.Template.Presentation.Web.HtmlHelpers
@model Dibware.Template.Presentation.Web.Models.Account.ChangePasswordConfirmedViewModel

@section Metadata
{
  <meta http-equiv='refresh' content='5; url=@Url.Action(ActionMethods.Login, ControllerNames.Account)'>
}
<hgroup class="title">
  <h1>@PageTitles.ChangePasswordConfirmed</h1>
</hgroup>
<section id="confirmAccountPage">
  <p>@Model.UserName</p>
  <p>@PageText.ChangePasswordConfirmed</p>
  <p>@PageText.YouHaveBeenLoggedOut</p>
  <p>@PageText.PleaseLogInWithNewPassword</p>
  <p>@Html.ActionLink(@LinkText.Login, ActionMethods.Login, ControllerNames.Account)</p>
</section>