@using Dibware.Template.Presentation.Web.Resources
@using Dibware.Template.Presentation.Web.HtmlHelpers
@model Dibware.Template.Presentation.Web.Models.Account.ChangePasswordViewModel

<hgroup class="title">
  <h1>@PageTitles.ChangePassword</h1>
</hgroup>
<section id="registerForm">
  @using (Html.BeginForm())
  {
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-center">@PageSubTitles.ChangePassword</h2>
      </div>
      <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.BootstrapValidationSummary()

        <div class="form-group">
          @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control input-lg", @placeholder = @PromptText.CurrentPassword })
          @Html.ValidationMessageFor(m => m.CurrentPassword)
        </div>
        <div class="form-group">
          @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg", @placeholder = @PromptText.NewPassword })
          @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="form-group">
          @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control input-lg", @placeholder = @PromptText.ConfirmNewPassword })
          @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">@ButtonText.ChangePassword</button>
        </div>
        <p>@PageText.PasswordAdvice</p>
      </div>
    </div>
  }
</section>