@using Dibware.Template.Presentation.Web.Resources
@model Dibware.Template.Presentation.Web.Models.Account.ConfirmAccountSuccessViewModel
<hgroup class="title">
    <h1>@PageTitles.ConfirmAccountSuccess</h1>
</hgroup>
<section id="confirmAccountSuccessPage">
@Html.AntiForgeryToken()
<h4>@Model.UserName</h4>
<p>@PageText.ConfirmAccountSuccess</p>
<p>@Html.ActionLink(LinkText.Login, ActionMethods.Login)</p>
<p>@PageText.RegistrationSecurityApology</p>
</section>