@using Dibware.Template.Presentation.Web.Resources
@using Dibware.Template.Presentation.Web.HtmlHelpers
@model Dibware.Template.Presentation.Web.Models.Account.LoginViewModel

<hgroup class="title">
  <h1>@PageTitles.LogIn</h1>
</hgroup>
<section id="loginForm">
  @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form col-md-12 center-block" }))
  {
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="text-center">@PageSubTitles.LogInNormally</h2>
      </div>
      <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.BootstrapValidationSummary()
        
        <div class="form-group">
          @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", @placeholder = @PromptText.Username})
          @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="form-group">
          @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = @PromptText.Password })
          @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="checkbox">
          @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
          @Html.CheckBoxFor(m => m.RememberMe)
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">@ButtonText.SignIn</button>
          <span class="pull-right">@Html.ActionLink("Register", "Register") if you don't have an account.</span>
          <span><a href="#">Need help?</a></span>
        </div>
        More stufff
      </div>
    </div> <!-- /.modal-content -->
  }
</section>
<p>&nbsp;</p>
<section class="social" id="socialLoginForm">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="text-center">@PageSubTitles.LogInWithOtherService</h2>
    </div>  <!-- /.modal-header -->
    <div class="modal-body">
      @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
    </div>  <!-- /.modal-body -->
  </div> <!-- /.modal-content -->
</section>