@using Dibware.Template.Presentation.Web.Resources
@using Dibware.Template.Presentation.Web.HtmlHelpers
@model Dibware.Template.Presentation.Web.Models.Account.RecoverPasswordEmailSentModel

<hgroup class="title">
  <h1>@PageTitles.RecoverPasswordEmailSent</h1>
</hgroup>
<section id="confirmAccountCheckEmailPage">
  @Html.AntiForgeryToken()
  <h4>@Model.UserName</h4>
  <p>@String.Format(PageText.RecoverPasswordEmailSent, Model.TokenExpirationInMinutesFromNow)</p>
  <p>@PageText.RecoverPasswordEmailSentApology</p>
</section>